/* reglas
selectores
declaraciones
propiedades
valores
*/

/*selector de etiqueta header -section -article - nav*/
/*header {
    background: pink;
    color: red;
}*/
/*Selector descendente*/
/*body header div nav ol li a*/

/*Selector de clase . */

/* .link */

/* Selector de id # */
/* #portafolio*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /*text-transform: uppercase;/*
    /*ext-decoration: dashed;*/
}

h1 strong{
    color:#026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    background-image: url('./images/hero.jpg');
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.portafolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    /*border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink;*/
    /*border-color: red;*/
    /*border-width: 15px;*/
    /*border-style: solid;*/
    border:1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    /*margin: 10px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url {
    margin: 10px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-description {
    font-size: 20px;
}

.project-details {
    width: 500px;
}

.project-imagesContainer {
    width: 500px;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.header a {
    color:white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.figure {
    margin: 0;
}

.menu {
    height: inherit;
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}