/* ------------ GENERAL ------------ */
* {
    font-family: 'Cormorant Upright', serif;
    margin: 0;
}

/* ------------ MENU Y LOGO ------------ */

.header {
    background-color:#e696a3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header a {
    color:white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.figure {
    margin: 0;
}

.menu {
    height: inherit;
}

.flexboox {
    display: flex;
    flex-wrap: wrap;
}
/* ------------ PRESENTACION Y FOTO------------ */

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color:white;
    margin: 0;
}

h1 strong{
    color:black;
}


.hero {
    height: 300px;
    background-image: url(images/fondo-rosa.png);
    height: 530px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover;
}

/* ------------ SECCION PORTAFOLIO ------------ */
.portafolio {
    background: #fafafa;
    padding: 20px;
}

.circle-image {
    display:block;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
}
.project {
    background: white;
    align-items: center;
}

h2 {
    color:#fd7a90;
    font-size: 24px;
    margin-bottom: 40px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.project-details {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}
.poject-title {
    color: #fd7a90;
}

.project-description {
    color: rgb(73, 73, 73);
    padding-top: 30px;
    padding-bottom: 80px;
}

/* ------------ SECCION HOBBIES ------------ */

.hobbies {
    text-align: justify;
    display: flex;
    justify-content: space-between;
}

.hobbies-description {
    width: 50%;
}

.hobbies-image {
    width: 50%;
}

.hobbies-list {
    font-size: 24px;
    line-height: 2em;
    Padding-left:160px;
}

.hobbies-image {
    text-align: center;
    padding-bottom: 60px;
}
/* ------------ SECCION CONTACTO ------------ */
.contact {
    background-color: #e696a3;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.social-link.twitter {
    background-image: url('./images/twitter.svg');
    background-size: 50px 50px;
}
.social-link.facebook {
    background-image: url('./images/facebook.svg');
    background-size: 50px 50px;
}
.social-link.github {
    background-image: url('./images/github.svg');
    background-size: 50px 50px;
}
.social-link.instagram {
    background-image: url('./images/instagram.svg');
    background-size: 50px 50px;
}

.form-email input {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image:url('./images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3 {
    font-family: 'Cormorant Upright', serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}